{
  "extends": "airbnb",
    "rules": {
      "semi": 0,
      "arrow-parens": 0,
      "comma-dangle": 0,
      "no-restricted-globals": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "jsx-a11y/anchor-is-valid": 0,
      "import/prefer-default-export": 0
    },
    "globals": {
      "window": true,
      "location": true,
      "document": true
    }
}
