.pomodoro-box {
  border: 1px solid #e9ecef;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: #f8f9fa;
}

.line-through {
  text-decoration: line-through;
}

.pomodoro {
  background-size: 40px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.square {
  background-image: url('../../images/square.png');
}

.circle {
  background-image: url('../../images/circle.png');
}

.triangle {
  background-image: url('../../images/triangle.png');
}

@import '~bootstrap/dist/css/bootstrap';
@import '~open-iconic/font/css/open-iconic-bootstrap'
