.pomodoro-box {
  border: 1px solid #e9ecef;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: #f8f9fa;
}

.line-through {
  text-decoration: line-through;
}

.fs-25 {
  font-size: 25px;
}

.rai-activity-indicator {
  left: 50%;
  margin: -16px 0 0 -16px;
  position: fixed;
  top: 50%;
}

@import '~bootstrap/dist/css/bootstrap';
$icon-font-path: '~open-iconic/font/fonts/'; // ModuleNotFoundError エラー対策
@import '~open-iconic/font/css/open-iconic-bootstrap';
@import '~react-activity/lib/Spinner/Spinner';
