.pomodoro-box {
  border: 1px solid #e9ecef;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  background: #f8f9fa;
}
.line-through {
  text-decoration: line-through;
}

@import '~bootstrap/dist/css/bootstrap';
@import '~open-iconic/font/css/open-iconic-bootstrap'
